<template>
  <v-row>
    <v-col cols="12" class="ma-4">
      <app-exchange-panel />
    </v-col>
  </v-row>
</template>

<script>
import AppExchangePanel from "../components/app-exchange-panel.vue";
export default {
  name: "Home",
  data() {
    return {
      loader: null,
      loading: false,
    };
  },
  components: {
    AppExchangePanel,
  },
};
</script>
