<template>
  <v-expansion-panels>
    <v-btn
      block
      class="ma-4"
      :loading="loading"
      :disabled="loading"
      color="secondary"
      @click="loader = 'loading'"
    >
      Обновить
    </v-btn>
    <v-expansion-panel v-for="(coin, i) in paginatedCoinData" :key="i">
      <v-expansion-panel-header> {{ coin.Name[0] }} </v-expansion-panel-header>
      <v-expansion-panel-content>
        1 рубль = {{ +coin.Value[0].replace(",", ".") }} {{ coin.Name[0] }}
        <exchange-panel-input :currency="+coin.Value[0].replace(',', '.')" />
      </v-expansion-panel-content>
    </v-expansion-panel>
    <div class="text-center">
      <v-pagination v-model="page" :length="maxpage"></v-pagination>
    </div>
  </v-expansion-panels>
</template>

<script>
import { getCurrency } from "@/api";
import _ from "lodash";
import ExchangePanelInput from "./exchange-panel-input.vue";

export default {
  data() {
    return {
      loader: null,
      loading: true,
      coinData: [],
      page: 1,
      coinsPerPage: 5,
    };
  },
  components: { ExchangePanelInput },
  computed: {
    maxpage() {
      return _.chunk(this.coinData, this.coinsPerPage).length - 1;
    },
    paginatedCoinData() {
      return _.chunk(this.coinData, this.coinsPerPage)[this.page];
    },
  },
  async mounted() {
    this.coinData = await getCurrency();
    this.loading = false;
  },
  watch: {
    async loader() {
      const l = this.loader;
      this[l] = !this[l];

      this.coinData = await getCurrency();

      this.loader = null;
      this.loading = false;
    },
  },
};
</script>

<style></style>
