<template>
  <v-container>
    <v-row>
      <v-col>
        <v-btn>Hello</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style></style>
