<template>
  <v-row>
    <v-col>
      <v-text-field
        type="number"
        v-model.number="rubles"
        @input="recalculateCurrency"
        label="Введите рубли"
      ></v-text-field>
      <v-text-field
        type="number"
        aria-autocomplete="none"
        @input="recalculateRubles"
        v-model.number="not_rubles"
        label="Введите валюту"
      ></v-text-field>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      rubles: 1,
      not_rubles: (1 / this.currency).toPrecision(2),
    };
  },
  props: {
    currency: Number,
  },
  methods: {
    recalculateCurrency() {
      this.not_rubles = this.rubles / this.currency;
      this.not_rubles =
        this.not_rubles > 1
          ? this.not_rubles.toFixed(2)
          : this.not_rubles.toPrecision(2);
    },
    recalculateRubles() {
      this.rubles = this.not_rubles * this.currency;
      this.rubles =
        this.rubles > 1 ? this.rubles.toFixed(2) : this.rubles.toPrecision(2);
    },
  },
};
</script>

<style></style>
